# Dependencies
node_modules
.pnp
.pnp.js

# Build
dist
.next
out
build
.turbo

# Environment
.env
.env.*
!.env.example

# Logs
*.log
logs/
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode/*
!.vscode/extensions.json

# Testing
coverage

# Prisma
apps/backend/generated

# Docker
docker-data
